body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
    background-color: #f0f0f0;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.kitchen-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    opacity: 0.3;
}

.tile {
    background-color: #48ad79;
    border: 1px solid #3b7256;
    transition: background-color 0.3s ease;
}

.tile:nth-child(3n) {
    background-color: #1d4a1f;
}

.tile:nth-child(7n) {
    background-color: #386b34;
}

.tile:nth-child(5n) {
    background-color: #2f6329;
}

.tile:nth-child(11n) {
    background-color: #254f22;
}

@keyframes hoverStay {
    0% {
    background-color: #ff507c;
  }
    25% {
    background-color: #ffD166;
  }
    50% {
    background-color: #fae860;
  }
  100% {
    background-color: #f4b3ff;
  }
}
.title.clicked {
    color: rgb(0, 0, 0);
}
.tile:hover {
    cursor: pointer;
    color: #ef476f;
    animation: hoverStay 5s forwards linear infinite;
}


.fridge {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 650px;
    background-color: #ffffff;
    border: 10px solid #848484;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.fridge-top, .fridge-bottom {
    flex: 1;
    border: 1px solid #dddddd;
    position: relative;
}

.fridge-handle {
    position: absolute;
    top: 70%;
    right: 15px;
    width: 15px;
    height: 80px;
    background-color: #999999;
    transform: translateY(-50%);
    border-radius: 50px;
    border-style: groove;
}
.fridge-handle2 {
    position: absolute;
    top: 30%;
    right: 15px;
    width: 15px;
    height: 80px;
    background-color: #999999;
    transform: translateY(-50%);
    border-radius: 50px;
    border-style: groove;
}
.betty{ 

    position: absolute;
    max-width: 80px;
    height: auto;
    top: 30%;
    left: 15%; 
    transform: rotate(35deg);
}
.music{

    position: absolute;
    left: 70%;
    max-width: 120px;
    height: auto;
    z-index: 3;
    top: 51%;
    transform: rotate(-18deg);
    transition: transform 0.3s ease;
}
.music:hover{
    transform: scale(1.05);
    animation: bounce 1.5s ease-in-out;
    filter: drop-shadow(0px 0px 10px #f4b3ff);
    cursor:pointer;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
.title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}
.content {
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    font-size: 18px;
    color: #333333;
}
.food-sticker{
    position: absolute;
    left: 25%;
    max-width: 110px;
    height: auto;
    top: 13%;
    transform: rotate(-10deg);

}
.kiki{
    position: absolute;
    left: 37%;
    max-width: 100px;
    height: auto;
    top: 33%;
    transform: rotate(15deg);
}
.hello-kitty{
    position: absolute;
    left: 14%;
    max-width: 90px;
    height: auto;
    top: 15%;
    transform: rotate(-15deg);
}
.butterfly{
    position: absolute;
    left: 33%;
    max-width: 60px;
    height: auto;
    bottom: 15%;
    transform: rotate(35deg);
}
.miffy2{
    position: absolute;
    left: 61%;
    max-width: 70px;
    height: auto;
    bottom: 23%;
    transform: rotate(35deg);

}
.red-flower{
    position: absolute;
    left: 25%;
    max-width: 55px;
    height: auto;
    bottom: 18%;
    transform: rotate(15deg);

}
.whiteboard{
    position: absolute;
    left: 52%;
max-width: 170px;
height: auto;
z-index: 3;
top: 20%;
transition: transform 0.3s ease;

}
.whiteboard:hover{
transform: scale(1.10);
filter: drop-shadow(0px 0px 10px #f4b3ff);
cursor:pointer;

}
.miffy{
position: absolute;
right:30%;
max-width: 70px;
height: auto;
top: 35%;
transform: rotate(-18deg);
}
.dog{
position: absolute;
max-width: 90px;
height: auto;
top: 53%;
left: 5%;
transform: rotate(-20deg);
transform:translate3d(2deg);
}